
body{
	font-family: "Noto Sans TC", sans-serif;
	background-color: #072C87;
	line-height: 1.7;
    overflow-x: hidden;
    margin: 0 auto;
}

/* Color */

.black{
    color: black;
}
.white{
    color: white;
}
.orange{
    color: #EB6100;
}
.blue{
    color: #072C87;
}
.Bright{
    color: #FF5342;   
}


.body{
    width: 100%;
	
}

/* Spacing */
.CardInner{
    width: 100%;
    padding: 40px 32px;
    background-color: white;
    margin-top: 48px;
}
.container{
	display: flex;
	height: 80px;
	justify-content: space-between;
	align-items: center;
    padding: 0 32px
}

@media (max-width: 1439px) {

    .CardInner{
        padding: 56px 32px ;
    }


	.container,.Join-container {
		width: 100%;
	}
  }
  
@media (max-width: 767px) {
	.container {
	  width: 100%;
	  padding: 0 24px;
      height: 56px;
	}

    .CardInner{
        width: 100%;
        padding: 24px 16px;
        margin-top: 24px;
    }
  }


/* header */
  .navbar{
	width: 100%;
	position: fixed;
	top: 0;
	align-items: center;
	background:white ;
	z-index: 10000;
}




.logo a {
	color: #fff;
	font-size: 20px;
	font-weight: bolder;
	text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    background-image: url(../IMG/YuantaLogo.svg);
    width: 165px;
	background-repeat: no-repeat;
}


/* ContainerBlock */

.wrapper{
	max-width: 1440px;
    padding: 120px 120px 0px 120px;
	margin: 0 auto;
}


.Title,.Title-White{
    display: inline-block;
    color: #042190;
    border-bottom: 3px solid #042190;
    width: fit-content;
    margin-bottom: 24px;
}

.Title-White{
    color: white;
    border-bottom: 1px solid white;
}

.contactus{
	background-color: #153EA7;
	padding: 64px 24px;
    margin-top: 120px;
}

.SubTitle{
    display: inline-block;
    color: #042190;
    text-align: center;
    margin-bottom: 16px;
}

.TitleContent{
    font-size: 18px;
    text-align: center;
}

.Item{
    width: 32px;
    height: 32px;
}

/* slogan-1 */
.slogan-wrapper{
    background-image: url(../IMG/BG_Elemnet/sloganbg.png);
    background-size: cover;
	margin-top: 120px;
	padding: 40px;	
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slogan{
	background-color: #FF8D1E;
	text-align: center;
    position: relative;
    min-height: 200px;
}

.ApplyBg{
    position: absolute;
    left: 0;
    top: -589px;
    width: 567px;
    height: 589px;
    z-index: -1;
}



@media (max-width: 1439px) {
	.wrapper {
		width: 100%;
		padding: 96px 32px 0px 32px;
	}
    .slogan-wrapper{
        margin-top: 96px;
        padding: 24px;
    }
    .TitleContent br{
        display: none;
    }
    .contactus{
        margin-top: 96px;
    }

    .ApplyBg{
        position: absolute;
        left: 0;
        top: -300px;
        width: auto;
        height: 300px;
        z-index: -1;
    }
  }


@media (max-width: 767px) {

	.wrapper {
		width: 100%;
		padding: 64px 24px 0px 24px;
	}

    .slogan{
        min-height: 0;
    }

    .slogan-wrapper{
        margin-top: 64px;
		padding: 24px;
        background-size: contain;
        height: auto;
	}

    .contactus{
        margin-top: 64px;
    }

    .Join-Card{
        padding: 24px 32px;
    }

    
    .TitleContent,.train-word,.point p,.card-block{
        text-align: left;
    }
    
    .TitleContent br,.train-word br,.slogan-wrapper br{
        display: none;
    }

    .Item{
        width: 24px;
        height: 24px;
    }

    .Title{
        margin-bottom: 24px;
    }

    
  }



/*-------- 卡片樣式 ---------- */

.StyleElement{
    position: relative;
    padding-right: 16px;
    padding-bottom: 16px;
    clip-path: polygon(
        0 0, 
        calc(100% - 60px) 0, /* 右上角導角 */
        100% 60px, 
        100% calc(100% - 70px), /* 右下角導角 */
        calc(100% - 70px) 100%, 
        60px 100%, /* 左下角導角 */
        0 calc(100% - 60px)
    );
    box-sizing: border-box;
    filter: drop-shadow(8px 8px 10px rgba(0, 0, 0, 0.25));
}

.StyleElement::before,
.StyleElement::after {
    content: '';
    position: absolute;
    pointer-events: none;
}
/* 右線段 */
.StyleElement::before {
    top: 0;
    right: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(to bottom, #ffffff00 10%, #ffffff 70%); /* 右側漸層 */
}

/* 左線段 */
.StyleElement::after {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px; 
    background: linear-gradient(to right, #ffffff00 10%, #ffffff 60%); /* 底部漸層 */
}


.CardStyle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F8F8F8;
    padding: 48px 40px;
    clip-path: polygon(
        0 0, 
        calc(100% - 60px) 0, /* 右上角導角 */
        100% 60px, 
        100% calc(100% - 60px), /* 右下角導角 */
        calc(100% - 60px) 100%, 
        60px 100%, /* 左下角導角 */
        0 calc(100% - 60px)
    );
}

.CardElement{
    position: absolute;
    width: 74px;
    height: 74px;
    bottom: 0;
    right: 0;
}

/* 浮動按鈕 */

.float-btn-desk{
	display: flex;
	flex-direction: column;
	gap: 24px;
	position: fixed;
	bottom: 40px;
	right: 32px;
    z-index: 100;
}


.edit-style,.submit-style{
    background-image: url(../IMG/BG_Elemnet/Edit.png);
    width: 100px;
    height: 100px;
    background-size:cover;
    transition: transform 0.5s cubic-bezier(0.25, 1, 0.5, 1), filter 0.5s ease;
}

.submit-style{
    background-image: url(../IMG/BG_Elemnet/Submit.png);
}


.float-btn{
	display: flex;
	flex-direction: column;
	gap: 16px;
	position: fixed;
	bottom: 20px;
	right: 32px;
    z-index: 100;
    display: none;
}

.float-btn img{
	width: 32px;
	color: white;
}

.edit, .submit{
	background-color: #0053AC;
	width: 96px;
	height: 96px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 8px;
	color: white;
	font-size: 18px;
    border: 1px solid white;
}
.submit{
	background-color: #EB6100;
}

@media (max-width: 1439px) {

}

@media (max-width: 767px) {
    .float-btn-desk{
        display: none;
    }
    .float-btn{
        flex-direction: row;
        gap: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        display: block;
        display: flex;
    }
    .float-btn img{
        width: 24px;
        height: 24px;
    }
    .edit,.submit{
        width: 100%;
        height: auto;
        flex-direction: row;
        padding: 16px 24px;
        border: none;
    }

    .StyleElement::before{
        width: 2px;
    }

    .StyleElement::after{
        height: 2px;
    }

    .StyleElement{ 
        padding-right:8px ;
        padding-bottom:8px ;
        clip-path: polygon(
        0 0, 
        calc(100% - 24px) 0, /* 右上角導角 */
        100% 24px, 
        100% calc(100% - 24px), /* 右下角導角 */
        calc(100% - 24px) 100%, 
        24px 100%, /* 左下角導角 */
        0 calc(100% - 24px)
    );
    }

    .CardStyle{
        padding: 24px 16px;
        clip-path: polygon(
        0 0, 
        calc(100% - 24px) 0, /* 右上角導角 */
        100% 24px, 
        100% calc(100% - 24px), /* 右下角導角 */
        calc(100% - 24px) 100%, 
        24px 100%, /* 左下角導角 */
        0 calc(100% - 24px)
    );
    }

    .CardElement{
        width: 27px;
        height: 27px;
    }
    
}
/* --------------------GoToTop------------------- */
/* Back to Top Button Style */
.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: opacity 0.3s, transform 0.3s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

.back-to-top:hover {
    background-color: #0056b3;
    transform: scale(1.1);
}

.back-to-top.show {
    opacity: 1;
    visibility: visible;
}




@media (max-width: 767px) {
    .back-to-top {
        bottom: 80px; 
        right: 16px; 
    }
}

/* ------------	tabs/MA+ITMT --------------*/
.tabs {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

/* .TabsPrimary {
	text-align: center;
	width: 50%;
	font-size: 24px;
	font-weight: 600;
	color: #737373;
    background-color: #D9D9D9;
	padding: 16px 10px;
	cursor: pointer;
	position: relative;
	position: sticky;
	top: 79px;
    z-index: 100;
}

.TabsPrimary::after {
	content: "";
	position: absolute;
	top: 0;
    right: 0;
    background-image: url(../IMG/BG_Elemnet/TabElement.png);
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;
    display: none;
}

.TabMA{
    background-color: #072C87;
}

.tabs__radio {
	display: none;
}

.tabs__content {
	order: 1;
	width: 100%;
	line-height: 1.5;
	display: none;
}

.tabs__radio:checked + .TabsPrimary {
	color: white;
    background-color: #072C87;
}

.tabs__radio:checked + .TabsPrimary::after {
	width: 100%;
    display: block;
}

.tabs__radio:checked + .TabsPrimary + .tabs__content {
	display: initial;
}  */







/* ------------	tabs/MA --------------*/


  .tabs__radio{
	position: fixed;
  }

  .tabs__label {
	text-align: center;
	width: 25%;
	font-size: 24px;
	font-weight: 600;
	color: #838383;
	background-color: #E5E5E5;
	padding: 16px 10px;
	cursor: pointer;
	position: relative;
	transition: color 0.3s ease;
	position: sticky;
	top: 79px;
  }
  .tabs__label::after{
    content: "";
    position: absolute;
    background-image: url(../IMG/BG_Elemnet/TabElement.png);
    top: 0;
    right: 0;
    z-index: 100;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
  }

  .tabs__radio {
	display: none;
  }
  
  .tabs__content {
	order: 1;
	width: 100%;
	line-height: 1.5;
	display: none;
  }


  .tabs__radio:checked + .tabs__label {
	color: #0053AC;
    background-color: white;
  }

  .tabs__radio:checked{
    width: 100%;
  }
  
  .tabs__radio:checked + .tabs__label + .tabs__content {
	display: initial;
  }

/* -------------tab hover----------- */

@media (max-width: 767px) {
    .tabs__label{
		font-size: 18px;
        width: 50%;
        padding: 12px 12px;
	}

    .tabs{
		margin-bottom: 48px;
	}
    
    .tabs__label {
        top: 56px;
        position:static ;
    }
}


/* ------popup------ */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    z-index: 1000;
    overflow: hidden;
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #F8F8F8;
    width: 90%;
    max-width: 600px;
    max-height: 66%;
    padding:24px;
    overflow-y: auto;
    clip-path: polygon(
        0 0, 
        calc(100% - 24px) 0,
        100% 24px, 
        100% 100%, 
        0 100%, 
        0 0
    );
}

.ContentBg{
    position: relative;
    background-color: white;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup-close {
    position: absolute;
    top: 24px;
    right: 24px;
    font-size: 24px;
    cursor: pointer;
}

.PopImgAdditional{
    width: 160px;
    height: 160px;
    margin-bottom: 4px;
}

body.no-scroll {
    overflow: hidden;
}

#popup-subtitle{
    font-size: 20px;
    font-weight: 700;
    margin-top: 12px;
    margin-bottom: 24px;
}




/* -----------ContactUS------------ */



.block{
	text-align: center;
	display: flex;
	flex-direction: column;
    align-items: center;
}
.block p{
	font-size: 36px;
	font-weight: 900;
}

.footer{
	background-color: black;
}

/* Footer */


.ig{
	background-image: url(../IMG/BG_Elemnet/IG_btn.png);
	width: 281px;
	height: 60px;
	background-repeat: no-repeat;
	background-size: cover;
	margin:  0 auto;
	transition: transform 0.5s cubic-bezier(0.25, 1, 0.5, 1), filter 0.5s ease;
    margin-top: 40px;
}

.ig:hover,.edit-style:hover,.submit-style:hover {
	transform: scale(1.1);
    filter: drop-shadow(0 8px 12px rgba(0, 0, 0, 0.3));
}

.about{
	max-width: 1200px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0 auto;
	padding: 60px 40px 40px 40px;
}

.web{
	text-align: center;
	padding: 32px;
	border-top: 1px solid white;
    
}

.ig_footer{
    width: 51px;
    height: 51px;
}

@media (max-width: 767px) {
    .web{
        margin-bottom: 50.2px;
    }
    .about{
        flex-direction: column;
        gap: 16px;
        justify-content: center;
        align-items: center;
    }
}
